:root {
    --white: #ffffff;
    --white-op80: rgba(255, 255, 255, 0.80);
    --white-op40: rgba(255, 255, 255, 0.40);
    --white-op10: rgba(255, 255, 255, 0.10);

    --grey-op80: rgba(33, 33, 33, 0.8);
    --grey-op40: rgba(33, 33, 33, 0.4);
    --grey-op10: rgba(33, 33, 33, 0.1);

    --grey-text: #333333;
    --grey-text-sub: #4f4f4f;
    --grey-background: #f2f2f2;
    --blue-theme: #C9EAF7;
    --blue-theme-active: #d6f4ff;
    --blue-theme-deep: #0071BC;
    --blue-theme-gradient: linear-gradient(180deg, #C9EAF7 0%, #FFFFFF 100%);
    --blue-theme-gradient-deep: linear-gradient(90deg, #C9EAF7 0%, #0071BC 100%);

    --blue-1: hsl(214, 84%, 56%);
    --blue-1-light: hsl(214, 84%, 95%);
    --blue-1-hover: hsl(214, 84%, 64%);
    --blue-1-active: hsl(214, 84%, 40%);
    --blue-2: #2D9CDB;
    --blue-3: #56CCF2;

    --red-1: hsl(0, 79%, 64%);
    --red-1-light: hsl(0, 79%, 95%);
    --red-1-hover: hsl(0, 79%, 72%);
    --red-1-active: hsl(0, 79%, 56%);

    --green-1: #219653;
    --green-2: #27AE60;
    --green-3: #6FCF97;

}




/* 小按钮 */
.btn-s {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: var(--blue-1);
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}
.btn-s:hover {
    background: var(--blue-1-hover);
}
.btn-s:active {
    background: var(--blue-1-active);
}

/* 中按钮 */
.btn-m {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: var(--blue-1);
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}
.btn-m:hover {
    background: var(--blue-1-hover);
}
.btn-m:active {
    background: var(--blue-1-active);
}

/* 中按钮-次级 */
.btn-m-sub {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: var(--blue-1-light);
    color: var(--blue-1);
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}
.btn-m-sub:hover {
    background: var(--blue-1-hover);
    color: var(--white);
}
.btn-m-sub:active {
    background: var(--blue-1-active);
    color: var(--white);
}


/* 大按钮 */
.btn-l {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: var(--blue-1);
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}
.btn-l:hover {
    background: var(--blue-1-hover);
}
.btn-l:active {
    background: var(--blue-1-active);
}


/* 红按钮 */
.btn-red {
    background: var(--red-1);
}
.btn-red:hover {
    background: var(--red-1-hover);
}
.btn-red:active {
    background: var(--red-1-active);
}

/* 红按钮-次级 */
.btn-red-sub {
    background: var(--red-1-light);
    color: var(--red-1);
}
.btn-red-sub:hover {
    background: var(--red-1-hover);
    color: var(--white);
}
.btn-red-sub:active {
    background: var(--red-1-active);
    color: var(--white);
}